<a href="https://colab.research.google.com/github/poojithavelagala/churn-customers-project/blob/main/customer_churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd # Data Cleaning
import numpy as np # Array Management
import matplotlib.pyplot as plt # Visualizations

In [ ]:
customer_data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/customer_churn.csv')

In [ ]:
# Step 1: Impute missing numerical values with mean
numeric_columns_with_missing = [
    "Avg Monthly Long Distance Charges",
    "Avg Monthly GB Download"
]
for col in numeric_columns_with_missing:
    customer_data[col].fillna(customer_data[col].mean(), inplace=True)

<ipython-input-8-68d0a4d368b1>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_data[col].fillna(customer_data[col].mean(), inplace=True)

In [ ]:
# Step 2: Impute missing categorical values with mode
categorical_columns_with_missing = [
    "Multiple Lines",
    "Internet Type",
    "Online Security",
    "Online Backup",
    "Device Protection Plan",
    "Premium Tech Support",
    "Streaming TV",
    "Streaming Movies",
    "Streaming Music",
    "Unlimited Data"
]
for col in categorical_columns_with_missing:
    customer_data[col].fillna(customer_data[col].mode()[0], inplace=True)

<ipython-input-10-7e1cadb29f98>:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_data[col].fillna(customer_data[col].mode()[0], inplace=True)

In [ ]:
# Step 3: Drop columns with excessive missing values
columns_to_drop = ["Churn Reason"]
customer_data.drop(columns=columns_to_drop, inplace=True)

In [ ]:
# Save the final dataset
customer_data.to_csv('processed_customer_churn.csv', index=False)

In [ ]:
customer_data.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Yes,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,No,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Yes,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Yes,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Yes,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction

In [ ]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 37 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Married                            7043 non-null   object
 4   Number of Dependents               7043 non-null   int64
 5   City                               7043 non-null   object
 6   Zip Code                           7043 non-null   int64
 7   Latitude                           7043 non-null   float64
 8   Longitude                          7043 non-null   float64
 9   Number of Referrals                7043 non-null   int64
 10  Tenure in Months                   7043 non-null   int64
 11  Offer                              3166 non-null   object
 12  Phone Service                      7043 non-null   object
 13  Avg Monthly Long Distance Charges  7043 non-null   float64
 14  Multiple Lines                     7043 non-null   object
 15  Internet Service                   7043 non-null   object
 16  Internet Type                      7043 non-null   object
 17  Avg Monthly GB Download            7043 non-null   float64
 18  Online Security                    7043 non-null   object
 19  Online Backup                      7043 non-null   object
 20  Device Protection Plan             7043 non-null   object
 21  Premium Tech Support               7043 non-null   object
 22  Streaming TV                       7043 non-null   object
 23  Streaming Movies                   7043 non-null   object
 24  Streaming Music                    7043 non-null   object
 25  Unlimited Data                     7043 non-null   object
 26  Contract                           7043 non-null   object
 27  Paperless Billing                  7043 non-null   object
 28  Payment Method                     7043 non-null   object
 29  Monthly Charge                     7043 non-null   float64
 30  Total Charges                      7043 non-null   float64
 31  Total Refunds                      7043 non-null   float64
 32  Total Extra Data Charges           7043 non-null   int64
 33  Total Long Distance Charges        7043 non-null   float64
 34  Total Revenue                      7043 non-null   float64
 35  Customer Status                    7043 non-null   object
 36  Churn Category                     1869 non-null   object
dtypes: float64(9), int64(6), object(22)
memory usage: 2.0+ MB

In [ ]:
customer_data.isnull().sum()

Customer ID                             0
Gender                                  0
Age                                     0
Married                                 0
Number of Dependents                    0
City                                    0
Zip Code                                0
Latitude                                0
Longitude                               0
Number of Referrals                     0
Tenure in Months                        0
Offer                                3877
Phone Service                           0
Avg Monthly Long Distance Charges       0
Multiple Lines                          0
Internet Service                        0
Internet Type                           0
Avg Monthly GB Download                 0
Online Security                         0
Online Backup                           0
Device Protection Plan                  0
Premium Tech Support                    0
Streaming TV                            0
Streaming Movies                        0
Streaming Music                         0
Unlimited Data                          0
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Charges                           0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Total Revenue                           0
Customer Status                         0
Churn Category                       5174
dtype: int64

In [ ]:
customer_data.shape

(7043, 37)